h1 {
    width: 100%;
    text-align: center;
}

#selection {
    text-align: center;
}

.slider {
    -webkit-appearance: none;
    width: 70%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
    
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}


select {
    background-color: rgb(141, 104, 132);
    color: #ffffff;
}

#yearD {
    display: inline-block;
    margin-bottom: 20px;
    width: 60%;
}

#year {
    padding-bottom: 10px;
    margin: 0px;
}

#yearDisplay{
    padding: 0px;
}

.sliderContainer {
    width: 100%;
}

#graphContainer {
    margin-bottom: -10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#mapid {
    height: 500px; 
    width: 680px;
    margin: auto;
    display: inline-block
}

#chartContainer {
    height: 300px;
    display: inline-block;
    position: relative !important;
    margin-left: 10px;
    margin-right: 10px;
    width: 52%;
}

canvas.canvasjs-chart-canvas {

    position: relative !important;
    float: right;
}